.idea/
theonsapp/.DS_Store
uploads/.DS_Store
theons_list/__pycache__/
theonsapp/__pycache__/
theonsapp/migrations/__pycache__/
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
