{% extends 'base.html' %}
{% block content %}
{% include 'index_navbar_include.html' %}
<br><br>
<ul class="collection with-header">
  <li class="collection-header"><h4>Theon's List API Access Points</h4></li>
  <li class="collection-item"><a href="{% url 'category_api_view' %}">api/categories/</a></li>
  <li class="collection-item"><a href="{% url 'subcategory_api_view' %}">api/subcategories/</a></li>
  <li class="collection-item"><a href="{% url 'user_create_view' %}">api/user/</a></li>
  <li class="collection-item"><a href="{% url 'post_api_view' %}">api/post/create/</a></li>

  <li class="collection-item">api/subcategory/(pk)/posts/</li>
  <li class="collection-item">api/category/(pk)/posts/</li>
  <li class="collection-item">api/post/(pk)</li>
  <li class="collection-item">api/category/(pk)/details/</li>
  <li class="collection-item">api/subcategory/(pk)/details/</li>
</ul>
{% endblock %}
