<footer class="page-footer z-depth-4 brown darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Theon's List</h5>
        <p class="grey-text text-lighten-4">A Medieval Themed Site Listing Items For Sale</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">My Other Sites</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!"></a></li>
          <li><a class="grey-text text-lighten-3" href="http://judenowicki.com">Portfolio</a></li>
          <li><a class="grey-text text-lighten-3" href="http://serverbuddy.judenowicki.com">Server Buddy</a></li>
          <li><a class="grey-text text-lighten-3" href="#!"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 judenowicki.com
    <a class="grey-text text-lighten-4 right" href="{% url 'about' %}">About</a>
    </div>
  </div>
</footer>
