{% extends 'base.html' %}

{% block content %}
<div class="row">
      <div class="col s12 m5">
        <div class="card-panel grey">
          <span class="white-text">Welcome to Theon's List, where you can list and purchase nearly everything
              imaginable in Westeros!
          </span>
        </div>
      </div>

      <div class="col s6 m6">
          Categories:
          <ul>
          {% for category in object_list %}
              <li><a href="{% url 'category_detail' category.pk %}">{{ category }}</a></li>
              <ul>
                  {% for sub in category.subcategory_set.all %}
                  <li><a href="{% url 'sub_item_list' sub.pk 1 %}">{{ sub }}</a></li>
                      {% endfor %}
              </ul>
          {% endfor %}
          </ul>

      </div>

</div>
{% endblock content %}