<nav class="brown darken-4">
    <div class="nav-wrapper z-depth-3">
      <div class="col s12">
        <a href="{% url 'index' %}" class="brand-logo left" style="margin-left: 2%;">Theon's List</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{% url 'list_of_apis' %}">API List</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Log In</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
          <li><a href="{% url 'about' %}">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
