<nav>
    <div class="nav-wrapper brown darken-4 z-depth-1">
      <div class="col s12" style="margin: 2%;">
        <a href="{% url 'index' %}" class="brand-logo left">Theon's List</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Log In</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
