{% extends 'base.html' %}

{% block navbar %}
{% include 'category_breadcrumb_navbar_include.html' %}
{% endblock %}

{% block content %}
<br><br>
<div class="col l12">
  <div class="row">
    {% for sub in category.subcategory_set.all %}
        <div class="col s12 m6 l4">
          <div class="card z-depth-4">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ sub.photo.url }}">
              <span class="card-title">{{ sub }}</span>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{ sub }}<i class="material-icons right">more_vert</i></span>
              <p><a href="{% url 'sub_item_list' sub.pk 1 %}">Explore</a></p>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block footer %}
{% include 'footer_include.html' %}
{% endblock %}
