{% extends 'base.html' %}

{% block navbar %}
{% include 'subcategory_breadcrumb_navbar_include.html' %}
{% endblock %}

{% block content %}
<header>
  <div class="row">
    <div style="text-align: center; margin: 2%;">
      <a class="z-depth-4" href="{% url 'sub_item_list' subcategory.pk 1 %}"><span class="btn"><i class="material-icons right">swap_vert</i>Date Listed</span></a>
      <a class="z-depth-4" href="{% url 'sub_item_list' subcategory.pk 2 %}"><span class="btn"><i class="material-icons right">swap_vert</i>Highest Price</span></a>
      <a class="z-depth-4" href="{% url 'sub_item_list' subcategory.pk 3 %}"><span class="btn"><i class="material-icons right">swap_vert</i>Lowest Price</span></a>
      {% if request.user.is_authenticated %}
          <a class="z-depth-4" href="{% url 'create_listing' subcategory.pk %}"><span class="btn"><i class="material-icons right">mode_edit</i>Create Listing</span></a>
      {% endif %}
    </div>
  </div>
</header>
<main>


<ul class="collection with-header">
  <li class="collection-header"><h4>Items For Sale in {{ subcategory }}</h4></li>
  {% for item in item_list %}
    <li class="collection-item avatar">
      <img src="{{ item.photo.url|default_if_none:"#" }}" alt="Photo" class="circle">
      <span class="title">{{ item }}</span>
      <p>${{ item.price }}<br>
         {{ item.time_listed }}
      </p>
      <a href="{% url 'item_detail' item.pk %}" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  {% endfor %}
</ul>
</main>
{% endblock %}

{% block footer %}
{% include 'footer_include.html' %}
{% endblock %}
