{% extends 'base.html' %}

{% block navbar %}
{% include 'index_navbar_include.html' %}
{% endblock %}

{% block content %}
<header style="margin: 2%;">
  <h4>Item Details</h4>
</header>
<main>
  <div class="col s12 m6 l4">
    <ul>
      <li>    Title: {{ object.name }}</li>
      <li>    Seller: {{ object.seller }}</li>
      <li>    Price: {{ object.price }}</li>
      <li>    Listed On: {{ object.time_listed }}</li>
      <li>    Location: {{ object.location }}</li>
      <li>    Description: {{ object.full_description }}</li>
      <li>    Photo: <img src="{{ object.photo.url }}" alt="Photo">
      </li>
    </ul>
  </div>
</main>
{% endblock %}

{% block footer %}
{% include 'footer_include.html' %}
{% endblock %}
