body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: #fff8e1;
   font-family: 'MedievalSharp', cursive;
 }

 main {
   flex: 1 0 auto;
   margin: 2%;
 }

nav {

}

.roboto-font {
  font-family: 'Roboto';
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}
